body {
	/* I'm using the fonts listed, each at 100% of their size*/
font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
 /* I am using background colour blue */
background-color: #00b9ff;
}
.faster {
border: solid;
color: #383737;
}
.funstuff {
color: #181819;
font-size: 35%;
border: solid;
}
/*End of stylesheet*/
/*StyleSheet thegitrobo version 0.1.3*/
